.main-list {
    // color: rgb(54, 54, 87);
    width: 370px;
    margin: 20px auto;
    min-height: 40vh;
    
    .green {
        color: green;
    }
    .red {
        color: red;
    }
    .blue {
        color: blue;
    }
}
